/*  
Evan Chou
COEN163 Lab4
CSS styles
*/

body {
    font-family: arial;
    background-color: #f0ebbb;
}

h1 {
    margin: 12px 0px 0px;
    text-align: center;
}

p {
    margin: 0px;
}

header {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#TopSymbolLeft {
    margin-left: -50px;
}

#TopSymbolRight {
    margin-top: 20px;
    margin-right: 30px;
    width: 60px;
    height: 60px;
    background-color: #f0ebbb:
}

.navigationbar {
    background-color: #19561b;
    text-align: center;
}

.navigationbar a {
    display: inline-block;
    color: lightgray;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

a:hover {
    /*When mouse hovers over link, the color will change to green (d1de44)*/
    color: #d1de44;
}

.row {
    display: flex;
    flex-direction: row;
}

.row:after {
    /*Make into tables*/
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 300%;
    height: auto;
    padding: 14px 14px 14px 14px;
    margin-left: 45px;
    margin-right: 30px;
}

footer {
    list-style-type: none;
    margin: 0;
    padding: 24px;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    font-size: 12px;
    color: grey;
}

footer a {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: grey;
}

#trees {
    width: 60%;
    height: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#flowers {
    width: 60%;
    height: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#vegetables {
    width: 60%;
    height: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#paragraph {
    text-align: center;
    margin-top: 30px;
}

#button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

#button2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

#button3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

.mainbutton {
    background-color: black;
}

#fiddleleaf {
    width: 75%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#orchid {
    width: 75%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#chrysanthemum {
    width: 75%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#bromeliad {
    width: 75%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#flowertitle {
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 40px;
    color: #013803;
}

#button4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

#button5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

#button6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

#button7 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #e3d55f;
    padding: 15px 32px;
    border: none;
    font-weight: bold;
}

.typeflower {
    font-size: 19px;
}

@media only screen and (max-width: 600px) {
    #TopSymbolLeft {
        margin-left: -50px;
        width: 50%;
        height: 50%;
    }
    #TopSymbolRight {
        margin-top: 8px;
        margin-right: 20px;
        width: 10%;
        height: 10%;
        background-color: #f0ebbb:
    }
    .navigationbar a {
        display: inline-block;
        color: lightgray;
        text-align: center;
        text-decoration: none;
        padding: 5px 10px 5px 10px;
        font-size: 8px;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .column {
        float: left;
        width: 80%;
        height: auto;
        padding: 14px 10px 14px 10px;
        margin-left: 45px;
        margin-right: 30px;
    }
    #trees {
        width: 60%;
        height: 55%;
        display: block;
        margin-left: 35px;
        margin-right: auto;
        margin-top: 5px;
    }
    #flowers {
        width: 60%;
        height: 55%;
        display: block;
        margin-left: 35px;
        margin-right: auto;
        margin-top: 5px;
    }
    #vegetables {
        width: 60%;
        height: 55%;
        display: block;
        margin-left: 35px;
        margin-right: auto;
        margin-top: 5px;
    }
    #paragraph {
        text-align: center;
        margin-top: 30px;
    }
    #button1 {
        display: block;
        margin-right: 90px;
        margin-top: 20px;
        margin-bottom: 0px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
    #button2 {
        display: block;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 0px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
    #button3 {
        display: block;
        margin-right: 75px;
        margin-top: 20px;
        margin-bottom: 0px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
    h1 {
        margin: 12px 43px 12px 0px;
        text-align: center;
    }
    #paragraph {
        text-align: center;
        margin-top: 30px;
        margin-right: 45px;
    }
    #flowertitle {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 50px;
        font-size: 40px;
        color: #013803;
    }
    #fiddleleaf {
        width: 75%;
        height: 40%;
        display: block;
        margin-top: 15px;
        margin-right: 55px;
    }
    #orchid {
        width: 75%;
        height: 40%;
        display: block;
        margin-top: 15px;
        margin-right: 55px;
    }
    #chrysanthemum {
        width: 75%;
        height: 40%;
        display: block;
        margin-top: 15px;
        margin-right: 55px;
    }
    #bromeliad {
        width: 75%;
        height: 40%;
        display: block;
        margin-top: 15px;
        margin-right: 55px;
    }
    #button4 {
        display: block;
        margin-top: 20px;
        margin-right: 83px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
    #button5 {
        display: block;
        margin-right: 83px;
        margin-top: 20px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
    #button6 {
        display: block;
        margin-right: 83px;
        margin-top: 20px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
    #button7 {
        display: block;
        margin-right: 83px;
        margin-top: 20px;
        background-color: #e3d55f;
        padding: 15px 32px;
        border: none;
        font-weight: bold;
    }
}